<mat-card *ngIf="imageUrl">
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-start">
        <a [routerLink]="'/breed/' + breed.id"><img data-src="{{imageUrl}}" alt="{{breed.name}}" class="avatar mr-3" />
        </a>
        <div class="text-center text-sm-left">
            <a [routerLink]="'/breed/' + breed.id">
                <h2 class="font-weight-bold">{{breed.name}}</h2>
            </a>
            <h6><i>{{breed.country}}</i></h6>
            <p *ngIf="isDetailedProfile">{{breed.description}}</p>
            <button mat-raised-button *ngIf="!favorite" class="mt-2">Add to Favorites</button>
            <button mat-raised-button *ngIf="favorite" class="mt-2 remove">Remove from Favorites</button>
        </div>
    </div>
</mat-card>