<mat-card *ngIf="imageUrl">
    <div class="d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-start">
        <img data-src="{{imageUrl}}" alt="{{breed.name}}" class="img-fluid avatar mr-3" />
        <div class="text-center text-sm-left">
            <h2 class="font-weight-bold">{{breed.name}}</h2>
            <h6><i>{{breed.country}}</i></h6>
            <p>{{breed.description}}</p>
            <button mat-raised-button class="mt-2">Add to Favorites</button>
        </div>
    </div>
</mat-card>