<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-11 col-md-10 col-lg-8">
            <div class="row justify-content-center justify-content-sm-between">
                <div class="col-5 text-left align-self-end">
                    <button mat-raised-button routerLink="/">
                        View All Breeds 🐾
                    </button>
                </div>
                <div class="col-2 invisible d-none d-sm-block">
                    <h2>Dogs</h2>
                </div>
                <div class="col-5 text-right align-self-end">
                    <button mat-raised-button routerLink="/favorites">
                        View My Favorites ❤️
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 col-lg-8">
            <doggies-profile *ngIf="breed && favoriteIds" [breed]="breed"
                [favorite]="favoriteIds.indexOf(breed.id) > -1" [isDetailedProfile]="'true'"
                (addToFavorites)="addToFavorites($event)" (removeFromFavorites)="removeFromFavorites($event)">
            </doggies-profile>
        </div>
    </div>
</div>