/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Averta-Regular, Avenir !important }

.mat-card {
    background: #f4f5f6;
    margin: 25px 0;
    font-family: Averta-Regular,Avenir;
}

nav {
    font-family: Averta-Regular,Avenir;
}

$primary:#14a96d;

.bg-primary {
    background: $primary !important; 
}

button.mat-raised-button {
    background: $primary; 
    color: white;

    &.remove {
        background: #c8232c
    }
}

